@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: aquamarine;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
}

.main-img {
    width: 100%;
    height: 100vh;
}

.login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.login-innerdiv {
    display: grid;
    justify-items: center;
}

.login-form {
    display: grid;
    justify-items: center;
}

.login-form-input {
    width: 320px;
    height: 55px;
    border: 0;
    border-radius: 5px;
    padding-left: 15px;
}

.login-form-input:focus {
    border: 0;
}

.login-form label {
    color: hsl(0, 0%, 0%, .4);
    font-weight: 500;
}

.login-form>div {
    margin-bottom: 10px;
}

.login-btn {
    width: 100px;
    height: 45px;
    border: 0;
    background-color: rgb(0, 71, 48);
    border-radius: 7px;
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
}

.login-btn:hover {
    background-color: rgb(0, 36, 25);
}

.redirect-text {
    font-weight: 800;
    color: hsl(0, 0%, 0%, .6);
    margin-top: 30px;
}

.redirect-text>a {
    font-weight: 900;
    color: hsl(0, 0%, 0%, .8);
    text-decoration: none;
}