{% extends 'main.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/change_password.css' %}">

<div class="change-password-form-div">
    <form method="POST" action="" id="change-password-form">
        {% csrf_token %}
        <label for="old-password-input">Old Password:</label><br>
        <input type="password" id="old-password-input" name="old-password" placeholder="Enter Old Password..." required>
        <br>

        <label for="new-password-input">New Password:</label><br>
        <input type="password" id="new-password-input" name="new-password" placeholder="Enter New Password..." required>
        <br>

        <label for="confirm-password-input">Confirm New Password:</label><br>
        <input type="password" id="confirm-password-input" name="confirm-new-password"
            placeholder="Confirm New Password..." required>
        <br>

        <div class="btns-div">
            <a href="{% url 'home' %}" class="go-back">
                <button type="button">Go back</button>
            </a>
            <input type="submit" value="Confirm" class="submit-btn">
        </div>
    </form>
</div>

{% endblock content %}